<main class="edit-profile">
  <div class="edit-profile__navigate">
    {{> BackButton page="profile"}}
  </div>
  <form class="edit-profile__form">
    <div class="edit-profile__avatar">
      {{> Avatar disabled="disabled"}}
    </div>
    <div class="edit-profile__inputs">
      {{#each (password-page-fields)}}
      {{> ProfileInput}}
      {{/each}}
    </div>
    </div>
    <div class="edit-profile__footer">
      {{> Button text="Сохранить" page="profile" className='edit-profile__footer-button' }}
    </div>
  </form>
</main>