@import "../../styles/variables";

.button {
  width: 100%;
  padding: 12px 70px;
  background-color: $primary;
  color: $white;
  border-radius: 8px;
  font-size: 13px;
  line-height: 13px;
  transition: $transition;

  &:hover {
    cursor: pointer;
    opacity: .7;
  }
}
