@import "../../styles/variables";

.message-media {
  position: relative;
  height: 100%;
  max-width: 402px;
  border: 1px solid $light-gray-3;
  border-radius: 12px;
  align-self: flex-start;

  &_user-message {
    align-self: flex-end;
  }

  &-content {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 100%;
    min-width: 402px;
    max-width: 402px;
  }

  .message-media-date {
    position: absolute;
    right: 11px;
    bottom: 11px;
    color: $white;
    font-size: 9px;
    font-weight: 500;
    line-height: 9px;
    background-color: $dark;
    border-radius: 30px;
    padding: 2px 7px;
  }
}
