@import "../../styles/variables";

.profile {
  padding: 60px 0 20px;

  &__wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
  }

  &__img-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__img-overlay-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;

    &:hover .profile__img-overlay {
      opacity: 1;
    }
  }

  &__img {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background: url("../../assets/jpg/avatar.jpg") no-repeat center;
    background-size: contain;
  }

  &__img-overlay {
    opacity: 0;
    display: flex;
    position: absolute;
    inset: 0;
    background: $overlay;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    line-height: 14px;
    text-align: center;
    color: $white;
    padding: 30px;
    transition: $transition;
  }

  &__name {
    margin-top: 21px;
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;
  }

  &__fields {
    margin-top: 60px;
  }

  &__field {
    margin-top: 20px;
    width: 510px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid $light-gray-3;

    &:first-of-type {
      margin-top: 0;
    }

    &:last-of-type {
      border: none;
    }
  }

  &__field-label {
    font-size: 13px;
    line-height: 13px;
  }

  &__field-value {
    font-size: 13px;
    line-height: 13px;
    color: $gray;
  }

  &__links-wrapper {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
  }

  &__link {
    margin-top: 10px;
    font-size: 13px;
    line-height: 13px;
    padding-bottom: 10px;
    border-bottom: 1px solid $light-gray-3;

    &:first-of-type {
      margin-top: 0;
    }
  }

  &__sign-out-btn {
    font-size: 13px;
    line-height: 13px;
    margin-top: 10px;
    background: none;
    color: $error;
    text-align: start;
  }
}
