$white: #FFF;
$black: #1E1E1E;
$primary: #3369F3;
$primary-accent: #E4EDFD;
$error: #FF2F2F;
$dark: #52525280;

$text-secondary: #FFF;
$text-fourth: #8D8D8D;

$beige: #F8F8F8;
$gray: #999;
$light-gray-1: #EFEFEF;
$light-gray-2: #FBFBFB;
$light-gray-3: #EAEAEA;
$light-gray-4: #F5F5F5;

$box-shadow: 0px 0px 6px 0px #00000024;
$overlay: #00000040;
$transition: opacity 0.3s ease-in;


