@import "../../styles/variables";

.register-page {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.register-page-wrapper {
  width: 340px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: $box-shadow;
  border-radius: 12px;
  padding: 50px 30px 30px;
}

.register-page-title {
  font-size: 20px;
  line-height: 20px;
}

.register-page-input-wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  width: 100%;
  gap: 16px;
}

.register-page-button-wrapper {
  width: 100%;
  margin-top: 45px;
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.register-page-link {
  text-align: center;
  font-size: 11px;
  line-height: 11px;
}
