@import "../../styles/variables";
.search-input {
  width: 100%;

  font-size: 12px;
  line-height: 12px;
  text-align: center;

  background-color: $light-gray-1;
  background-image: url('../../assets/svg/search.svg');
  background-position: calc(50% - 35px);
  background-repeat: no-repeat;

  padding: 10px;
  border: none;
  border-radius: 5px;
  outline: none;

  &:not(:placeholder-shown) {
    background-image: none;
  }
}
