@import "../../styles/variables";

.modal {
  inset: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;

  &__title {
    font-size: 15px;
    font-weight: 500;
    line-height: 20px;
    text-align: center;
  }

  &__content {
    z-index: 1500;
    width: 340px;
    padding: 40px 30px;
    background-color: $white;
    border-radius: 12px;
    box-shadow: $box-shadow;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
  }

}


