<div class="error">
  <div class="error-desc">
    <h1 class="error-desc__title">{{title}}</h1>
    <p class="error-desc__subtitle">{{desc}}</p>
  </div>
  {{> Link page="chat" text="Назад к чатам"}}
</div>