@import '../../assets/variables';

.error {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	row-gap: 69px;

	&-desc {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		row-gap: 20px;

		&__title {
			font-size: $font-large;
		}

		&__desc {
			font-size: $font-big;
		}
	}
}
