@import '../../assets/variables';

.profile-input {
	border-bottom: 1px solid $divider-line-color;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 10px;

	&__title,
	&__desc {
		margin: 0;
	}

	&__input {
		color: $text-light-color;
		border: none;
		background-color: transparent;
		text-align: end;

		&:focus {
			border: none;
		}
	}
}
