@import '../../assets/variables';

.profile {
	height: 100%;
	width: 100%;
	display: grid;
	grid-template-columns: min-content 1fr;

	&__navigate {
		display: flex;
		align-items: center;
		padding-inline: 18px;
		background-color: $chat-list-bgcolor;
		border-right: 1px solid $divider-line-color;

		&-button {
			border-radius: 50%;
			width: 28px;
			height: 28px;
			color: $button-color;
		}
	}

	&__form {
		width: 100%;
		max-width: 510px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		row-gap: 60px;
		justify-self: center;
	}

	&__avatar {
		display: grid;
		justify-content: center;
		row-gap: 21px;

		&-username {
			text-align: center;
			font-size: 16px;
			color: $title-color;
		}
	}

	&__inputs {
		display: flex;
		flex-direction: column;
		row-gap: 16px;

		:last-child {
			border-bottom: unset;
		}
	}

	&__footer {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;

		&-button {
			font-size: 13px;
			font-weight: 500;
			text-align: start;

			&:hover {
				text-decoration: none;
			}
		}

		&-button:not(:last-child) {
			border-bottom: 1px solid $divider-line-color;
		}

		&-button:last-child {
			color: $text-red;
		}
	}
}
