@import "../../assets/variables";

.search-input {
  width: 100%;
  height: 32px;
  background-color: $gray-light-color;
  border: none;
  border-radius: 5px;
  padding-block: 10px;
}

.search-input::placeholder {
  text-align: center;
}
