@import '../../assets/variables';

.avatar {
	position: relative;
	width: 130px; /* Задайте размер, который вам нужен */
	height: 130px; /* Задайте размер, который вам нужен */
	border-radius: 50%;
	overflow: hidden;
	background-color: $gray-light-color;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;

	&-upload {
		position: relative;
		width: 130px;
		height: 130px;
		border-radius: 50%;
		overflow: hidden;
		background-color: $gray-light-color;
		display: flex;
		justify-content: center;
		align-items: center;
		cursor: pointer;
	}

	&-label {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 100%;
		color: white;
		font-size: 16px;
		text-align: center;
		background-color: $gray-light-color;
		border-radius: 50%;
		transition: background-color 0.3s ease;

		&:hover {
			background-color: $text-light-color;
		}
	}
	&-input {
		display: none;
		width: 100%;
		height: 100%;
	}

	&-text {
		z-index: 1;
	}

	&::before {
		content: '';
		position: absolute;
		width: 100%;
		height: 100%;
		background-position: center;
		border-radius: 50%;
		z-index: 0;
	}
}
