<div class="avatar">
  <label for="avatar" class="avatar-label">
    <span class="avatar-text">Аватар</span>
    <input type="file" name="avatar" id="avatar" class="avatar-input" accept="image/*" {{#if
      disabled}}{{disabled}}{{/if}}>
  </label>
</div>