@import '../../assets/variables';

.chat-page {
	height: 100%;
	width: 100%;
	display: grid;
	grid-template-columns: 310px 1fr;

	&__list:not(input) {
		border-right: 1px solid $divider-line-color;
	}
}

.search-container {
	display: flex;
	flex-direction: column;
	padding-inline: 10px;
	margin-bottom: 14px;

	&__link {
		color: $text-light-color;
		display: flex;
		align-items: end;
		padding-right: 20px;
	}

	&__search {
		background-color: $gray-light-color;
		border-radius: 5px;
	}
}

.messages-list {
	display: grid;
	grid-template-rows: 1fr min-content;

	&__controls {
		display: grid;
		grid-template-columns: 32px 1fr 32px;
		padding: 11px 20px;
		align-items: center;

		&-input {
			width: 100%;
			text-align: start;
			padding: 10px 20px;
			background-color: $gray-light-color;
			border-color: transparent;
			border-radius: 30px;
			box-sizing: border-box;
		}

		&-attach,
		&-send {
			width: 32px;
			height: 32px;
			background-color: transparent;
			border: none;
			padding: 0;
			margin: 0;
			cursor: pointer;
		}
	}
}
